#! -*- mode:apache-conf-generic -*-

order allow,deny
deny from 193.156.31.0/24
allow from all


DirectoryIndex wiki
AddDefaultCharset utf-8

# ExpiresActive On
# ExpiresDefault "access plus 1 hours"
# ExpiresByType image/png "access plus 3 days"
# ExpiresByType image/jpeg "access plus 3 days"
# ExpiresByType image/svg+xml "access plus 3 days"
# ExpiresByType text/css "access plus 3 days"
# FileETag none

AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RedirectMatch permanent ^/$ https://oddmuse.org/wiki
Redirect permanent /cgi-bin/wiki /wiki
Redirect permanent /cgi-bin/oddmuse /wiki
Redirect permanent /oddmuse.css /default.css

RewriteEngine on
RewriteRule ^favicon.ico /pics/oddmuse-logo2-icon.png [last]
# Deny all idiots that are looking for borked PHP applications
# Status Code 402 is "Payment Required".
RewriteRule \.php$ - [redirect=402]
